/* * {
    overflow: hidden;
} */

body {
    padding: 20px;
    /* background-image: url('download2.jpg'); */
    background-image: url('todo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;   
    text-decoration: underline; 
}

.container {
    width: 100vw !important;
    height: 84vh !important;
    display: flex !important;
    flex-direction: column !important; 
    /* row */
    align-items: center !important;
}
     

.inputContainer {
    width: 50%;  
}

form {
    display: flex;
    flex-direction: column;   
}

.input {

}

.todos {
    width: 98vw;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;    
}

.card {
    margin: 20px !important;
}

.list-group-item {
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.list-group-item:hover {
    background-color: lightgray !important ;
}

