/* * {
    overflow: hidden;
} */

/* *{
    margin: 0;
    padding: 0;
} */

body {
    padding: 20px;
    /* background-image: url('todo1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-position: fixed; */
  
    
}

/* .body {

    
} */

/* .body2 {
    background-image: url('todo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;

} */

h1 {
    text-align: center;   
    text-decoration: underline; 
}

.container {
    width: 100vw !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important; 
    /* row */
    align-items: center !important;
   

}

.container::before {
    background-image: url('todo1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}


.inputContainer {
    width: 50%;  
}

form {
    display: flex;
    flex-direction: column;   
}

.input {
    
}

.todos {
    width: 98vw;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;   
    overflow: scroll; 
    max-height: 63vh;    
}

.todos::-webkit-scrollbar {
    display: none;
}

.card {
    margin: 20px !important;
}

.list-group-item {
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.list-group-item:hover {
    background-color: lightgray !important ;
}

